{% extends 'layout.html' %}
{% block styling %}
    <link type="text/css" href="{{url_for('static',filename='css/jazz.css')}}" rel="stylesheet"></link>
    <link href='https://fonts.googleapis.com/css?family=Didact%20Gothic' rel='stylesheet'>
{% endblock %}
{% block title %}JAZZ{% endblock %}

{% block content %}
{% include 'features/navtab.html' %}
<center>
<div class="table">
  <div class="tr" id="theme">
    <p class="hpop">Jazz</p>
  </div>
  <div class="tr"></div>
</div>
</center>
<div class="back"></div>
<audio controls>
  <source src="{{url_for('static',filename='https://song.link/in/i/1136768508')}}" type="audio/mpeg">
</audio>
{% endblock %}
